<div class= "maincontainer">
  
  <div><h3>List of All Tasks</h3>   
    <button class="add-task-btn btn btn-primary" style ="float: right;" (click)="createTask()"> Create Task</button>
  </div>
  <br>
    <span>You can create more tasks or update others on specific task information : </span>  <br>
    <br>

    <br>
    <br>
    <div class="table-responsive" *ngIf="tasks">
      <table class="table table-striped" >
        <thead>
          <tr Sort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col" SortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" SortBy="name"><span>Task Name</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"><span>Status</span></th>
            <th scope="col"><span>Assigned To</span></th>
            <th scope="col"><span>Options</span> </th>

          </tr>
        </thead>
        <tbody *ngIf="tasks">
          <tr *ngFor="let task of tasks; trackBy: trackIdentity">
            <td>
              <a [routerLink]="['./', task.id, 'view']">{{ task.id }}</a>
            </td>
            <td>{{ task.name }}</td>
            <td>{{ task.card?.name }}</td>
            <td>{{ task?.assignedTo?.firstName || "nobody"}} {{task?.assignedTo?.lastName}}</td>

            <td ngbDropdown>
              <a class="dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" >
                  <span>options</span>
              </a>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="showTask(task)">
                  <span>Show Task</span>
                </button>
                <button class="dropdown-item" (click)="deleteTask(task)">
                  <span>Delete Task</span>
                </button>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="tasks">
      <div class="row justify-content-center">
        <item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></item-count>
      </div>
  
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
  