<div class="root">
    <div class="board">

        <div class="board-bar">
            <p class="board-name">{{ board.name }}</p>
            <div></div>
            <div></div>
        </div>
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of cards">
                    <div class="column-title">
                        {{ column.name }} 
                    </div>
                    <div class="tasks-container"
                         cdkDropList
                         id = "{{column.id}}"
                         [cdkDropListData]="column.tasks"
                         (cdkDropListDropped)="drop($event)">
                        <div class="task" id="{{task.id}}" *ngFor="let task of column.tasks" (click)="showTask(task)" cdkDrag>
                             {{task.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>