<div class="root">
    <div class="board">

        <div class="board-bar">
            <span class="board-name"> {{ board.name }}</span>
        
            <button class="btn btn-primary" style ="float: right; margin-right: 10%;" (click)="createTask()">Create Task</button>
        </div>
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of cards">
                    <div class="column-title">
                        {{ column.name }} 
                    </div>
                    <div class="tasks-container"
                         cdkDropList
                         id = "{{column.id}}"
                         [cdkDropListData]="column.tasks"
                         (cdkDropListDropped)="drop($event)">
                        <div class="task" id="{{task.id}}" *ngFor="let task of column.tasks" (click)="showTask(task)" cdkDrag>
                             <span class="task-child" >{{task.name}}</span>
                             <div class="verticalLine">
                               assigned To:
                               <span *ngIf=task.assignedTo class="assignedTo" >
                                {{task.assignedTo.email}}
                            </span>
                              </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>