.showtask{
    margin:auto;
    width: 500px;
}

.form-control{
    align-self:  flex-start !important ;
    width: fit-content;
    padding-right: 10%;
}

.checkbox{
    padding-right: 10%;
    margin-right: 20%;
}