<div  style="align-self: center;">
    <h1 class="flex-chlid-header ">Welcome in Task Manager!</h1>
    <div  [ngSwitch]="isAuthenticated()">
      <div class="row" *ngSwitchCase="true" >
        <span class="flex-chlid-subheader" id="home-logged-message" *ngIf="account">Hi,{{ account.firstName }} {{account.lastName}}
          <br>
          <br>
         Application where you can manage tasks with your Team on Kanban Board.
          References</span>
            <button class="flex-chlid btn btn-primary" (click)=teammates()> People arranged to your team. </button> 
            <button class="flex-chlid btn btn-primary" (click)=tasks()> List of Tasks that needs to be done!</button>
            <button class="flex-chlid btn btn-primary " (click)=board()> Kanban Board </button>
            <button class="flex-chlid btn btn-primary" (click)=charts()> Charts</button>

      </div>
      <div class="row" *ngSwitchCase = "false">
        <span class="flex-chlid-subheader">Application where you can manage tasks with your team on Kanban Board. 
        <br>
        <br>
        What you can do with your team here? </span> 
        <span class="flex-chlid-unautorized" >Create authorized accounts for every teammate with 2 possible roles: user or admin/manager</span>
        <span class="flex-chlid-unautorized" >Manage your project by adding Tasks on visualised Kanban board which would be configured by your manager</span>
        <span class="flex-chlid-unautorized" >Add needed tasks to project to report progress </span>
        <span class="flex-chlid-unautorized" >Look up for project progress on charts created by archived data</span>
        <div class="mt-3 alert alert-warning">
          <a class="alert-link" routerLink="/login">Sign in</a><span>, or you can create Account </span>
          <a class="alert-link" routerLink="/account/register">Here</a>

        </div>
      </div>
    </div>
  
</div>
