<div>
  <h4>List of All Tasks</h4>   
    <span>You can create more tasks or update others on specific task information : </span>  <br>
    <br>

    <button matButton (click)="showTask(defaultTask)"> Create Task</button>
    <br>
    <br>
    <div class="table-responsive" *ngIf="tasks">
      <table class="table table-striped" >
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="name"><span>Login</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"><span>Card id</span></th>
            <th scope="col"><span>Show Task</span> </th>

          </tr>
        </thead>
        <tbody *ngIf="tasks">
          <tr *ngFor="let task of tasks; trackBy: trackIdentity">
            <td>
              <a [routerLink]="['./', task.id, 'view']">{{ task.id }}</a>
            </td>
            <td>{{ task.name }}</td>
            <td>{{ task.card }}</td>
            <td><button mat-button-raised (click)="showTask(task)">Go to Task</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="tasks">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
  
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
  