<div class='some-page-wrapper'>
    <h2>Statistics</h2>
    <div class='row'>
    
      <div class='column'>
            Project : [name]<br>
            columns: [ c1,c2,c3,c4,c5]<br>
            All Tasks: [all tasks]<br>
            Users: [users]<br>
            Free users: [not assigned]<br>
           
      </div>
      <div class="column">
        <pie-chart class="singlechart"></pie-chart>
      </div> 
      <div class="column">
        <pie-chart-column class="doublechart"></pie-chart-column>
    </div>

        <div class="column">
 
        <pie-chart-user class="doublechart"></pie-chart-user>

      </div>
    </div>
    <div class='row 2'>
      <div class='column'>
        <div class='green-column'>
            Task life Cycle 
            pick a task stats you want to see
            <!-- <mat-select>
                <option value=""></option>
            </mat-select> -->
            <line-chart class="xd"></line-chart>
        </div>
      </div>
      <div class='column'>
          Choose user to see his performance
          Assigned line chart
          Completed line chart in a year
        <div class='orange-column'>
            <line-chart class="xd"></line-chart>

            <line-chart class="xd"></line-chart>
            <line-chart class="xd"></line-chart>
            <line-chart class="xd"></line-chart>
            <line-chart class="xd"></line-chart>
            <line-chart class="xd"></line-chart>
            <line-chart class="xd"></line-chart>
            <line-chart class="xd"></line-chart>

        </div>
      </div>
    </div>
  </div>

