<div class="root">
    <div class="board">

        <div class="board-bar">
            <span class="board-name" > {{ board?.name }}</span>
        
            <button class="btn btn-primary" style ="float: right; margin-right: 10%;" (click)="createTask()">Create Task</button>
        </div>
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of cards">
                    <div class="column-title">
                        {{ column.name }} 
                    </div>
                    <div class="tasks-container"
                         cdkDropList
                         id = "{{column!.id}}"
                         [cdkDropListData]="column.tasks"
                         (cdkDropListDropped)="drop($event)">
                        <div class="task" id="{{task.id}}" [ngStyle]="{'background-color': task.completed ? '#90EE90 ': 'white'}" 
                        *ngFor="let task of column.tasks" 
                        (click)="showTask(task)" 
                        [cdkDragDisabled]="task.completed" cdkDrag>
                             <span class="task-child" >{{task.name}}</span>
                             <div class="verticalLine">
                               Assigned to
                               <span *ngIf="task.assignedTo?.email === this.user.email"> you</span>:
                               <span *ngIf=task.assignedTo class="assignedTo" [ngStyle]="{'color': task.assignedTo.email === this.user.email ? 'red ': 'black'}" >
                                {{task.assignedTo.email}}</span>
                            <span *ngIf="task.completed"  style="margin-left:1%; color: cadetblue; "><fa-icon icon="check"></fa-icon>  Task Completed</span>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 




    

