<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Welcome in TaskManager!</h1>
    <div [ngSwitch]="isAuthenticated()">
      <span id="home-logged-message" *ngIf="account">Hi,{{ account.firstName }} {{account.lastName}}</span> <br>
      Application where you can manage tasks with your Team on Kanban Board.
      References
      <ul *ngSwitchCase="true">
        <li><span>People arranged to your team</span>  <a style = "color:darkcyan;"(click)=teammates()>Teammates</a></li>
        <li>list of Tasks that needs to be done! <a style = "color:darkcyan;" (click)=tasks()> Tasks</a></li>
        <li><a style = "color:darkcyan;" (click)=board()> Kanban Board</a></li>
        <li><a style = "color:darkcyan;" (click)=charts()>Charts</a></li> 
      </ul>
    </div>
  </div>
</div>
