
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5%;
    width: 100%;

  }
  .chart-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .wrap-padding-column{
    padding: 5%;
  }
  
  .wider-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
  }



  .some-page-wrapper {
    margin: 3%;
  }
  

