<div class='some-page-wrapper'>
    <h2>Statistics</h2>
    <div class='row'>
    
      <div class='column'>
            Project : {{board.name}}<br>
            Columns: <br>
            <div *ngFor="let card of cardsAndCount | keyvalue">
              <span> Column {{card.key}} containing {{card.value}} tasks </span>
            </div>
            
      </div>
      <div class="column">
        <pie-chart class="singlechart"></pie-chart>
      </div> 
      <div class="column">
        <pie-chart-column class="doublechart"></pie-chart-column>
    </div>

        <div class="column">
 
        <pie-chart-user class="doublechart"></pie-chart-user>

      </div>
    </div>
    <div class='row 2'>
      <div class='column'>
        <div class='wrap-padding-column'>
            Task life Cycle 
            pick a task stats you want to see
            <mat-form-field>

              <mat-select type= "select"        
              [formControl]="checkedTasks"        
              placeholder="Select tasks"
              multiple>

                <mat-option *ngFor="let task of tasks"  [value]="task" >
                  {{task.id}}. {{ task.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngFor="let task of checkedTasks.value">
            <span>{{task.id}}. {{ task.name }}</span>              
            <line-chart-task class="xd"> </line-chart-task>
            </div>          
          </div>
      </div>
      <div class='column'>
        <div class='wrap-padding-column'>

          Choose user to see his performance
          Assigned line chart
          Completed line chart  <br>
          <mat-form-field>

          <mat-select               
           type= "select"  placeholder="Select users" [formControl]="checkedUsers"   multiple>

            <mat-option *ngFor="let user of users"  [value]="user" >
              {{ user.firstName }} {{ user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <div *ngFor="let user of this.checkedUsers.value">
            <span>               {{ user.firstName }} {{ user.lastName}}</span>
            <line-chart-user class="xd" [userId]= "user.id"> </line-chart-user>

          </div>
        </div>
      </div>
    </div>
  </div>

